<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/search">search</a>
            <a href="/mycard">my list</a>
        </nav>
    </header>
    <main>
        <%searchResult.forEach(element=>{%>
            <div>
                <h5>
                    title :
                    <%=element.title%> <br> company :
                        <%=element.company%> <br> location :
                            <%=element.location%> <br>
                                <%=element.link%>
                </h5>
                <form action="/mycard" method="POST">
                    <input type="hidden" name="saveJob" value="<%=element.title%>">
                    <input type="hidden" name="saveJob" value="<%=element.company%>">
                    <input type="hidden" name="saveJob" value="<%=element.location%>">
                    <input type="hidden" name="saveJob" value="<%=element.link%>">
                    <input type="hidden" name="saveJob" value="<%=element.description%>">
                    <button type="submit">add</button>
                </form>
            </div>
            <%})%>
    </main>
</body>

</html>